<header>
  <div class="container">
    <div class="row header-info">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h1 class="wow fadeIn">
          Tu futuro comienza aquí
        </h1>
        <p class="lead wow fadeIn" data-wow-delay="0.5s">
          ¿Eres un profesional cualificado bla... bla...? <br>
        </p>
        <p>

        </p>
        <br>
          
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <%= link_to 'Saber más', '#learn-more', class: 'btn btn-secondary btn-lg scroll' %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</header>